/* [project]/src/components/sections/header/cozy/style.module.scss.module.css [app-client] (css) */
.style-module-scss-module__PI980a__header {
  z-index: 20;
  background-color: hsl(var(--background) / .8);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  backdrop-filter: blur(12px);
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__background {
  background-color: #09090b;
  opacity: .5;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar {
  display: flex;
  justify-content: flex-end;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar p {
  margin: 0;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar a {
  text-decoration: none;
  color: hsl(var(--foreground));
  position: absolute;
  left: 0;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__shopContainer {
  display: flex;
  gap: 30px;
  position: absolute;
  right: 0;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__shopContainer .style-module-scss-module__PI980a__shop {
  display: none;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__el {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__el .style-module-scss-module__PI980a__label {
  position: relative;
  display: flex;
  align-items: center;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__el p:nth-of-type(2) {
  position: absolute;
  opacity: 0;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__el .style-module-scss-module__PI980a__burger {
  width: 22.5px;
  position: relative;
  pointer-events: none;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__el .style-module-scss-module__PI980a__burger:after, .style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__el .style-module-scss-module__PI980a__burger:before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: hsl(var(--foreground));
  position: relative;
  display: block;
  transition: all 1s cubic-bezier(.76, 0, .24, 1);
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__el .style-module-scss-module__PI980a__burger:after {
  top: -4px;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__el .style-module-scss-module__PI980a__burger:before {
  top: 4px;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__el .style-module-scss-module__PI980a__burgerActive:after {
  transform: rotate(45deg);
  top: -1px;
}

.style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar .style-module-scss-module__PI980a__el .style-module-scss-module__PI980a__burgerActive:before {
  transform: rotate(-45deg);
  top: 1px;
}

@media only screen and (width >= 600px) {
  .style-module-scss-module__PI980a__header {
    padding: 20px;
  }

  .style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__bar {
    font-size: 15px;
  }

  .style-module-scss-module__PI980a__header .style-module-scss-module__PI980a__shop {
    display: block;
    cursor: pointer;
  }
}

/*# sourceMappingURL=src_components_sections_header_cozy_style_module_scss_module_b52d8e.css.map*/